meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Sintaxis de las variables, tipos de datos y operaciones en Java
meta(meta name="description" content="En este material de formación se aborda la sintaxis para la declaración de variables y su respectiva asignación de valores, así como también los tipos de datos y la jerarquía de operaciones, haciendo uso del lenguaje de programación Java.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")