h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Noción de derecho penitenciario', 'main.html#page/nocion-derecho/')
                    +navTemaItem('2', 'Marco normativo del Sistema Nacional Penitenciario y Carcelario', 'main.html#page/marco-normativo/')
                    +navTemaItem('3', 'Tratamiento penitenciario en salud en Colombia', 'main.html#page/tratamiento-penitenciario/')
