#page-main-header.page-header.theme-light.mb-5

    .container

        .row.align-items-center

            .col-12.col-lg-6

                h3#curso-titulo-componente.curso-subtitulo Título del componente formativo
                h1#curso-titulo-tema.curso-titulo Título del tema

                .brand-line-primary

                .keywords
                    span.badge.badge-pill.badge-light.mr-2 #keyword1
                    span.badge.badge-pill.badge-light.mr-2 #keyword2
                    span.badge.badge-pill.badge-light.mr-2 #keyword3

                .barra-dots.mt-5
                    img.img-fluid(src='../assets/images/header/icon_dots.svg', alt='alt')



            .col-12.col-lg-6
                .d-none.d-lg-block
                    img(src="assets/images/header/header_media.svg")
