h2  Resultado de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span #[strong 210001012 – 1] - Reconocer los objetivos de desarrollo sostenible a partir de la aplicación de políticas en ciencia, tecnología e innovación.
           




