#page-main-header.page-header.theme-light.mb-5

    .container

        .row.align-items-center

            .col-12.col-lg-6

                h3#curso-titulo-componente.curso-subtitulo Título del componente formativo
                h1#curso-titulo-tema.curso-titulo Título del tema

                .brand-line-primary



            .col-12.col-lg-6
                .d-none.d-lg-block
                    img(src="assets/images/header/header_media.svg")
