.jumbotron
    .row
        .col-3
            h2  Resultados de <br>aprendizaje
        .col-9
            p.parrafo 220501104 – 1 - Planificar la implementación de la arquitectura de la red según el diseño establecido.




