.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Título del programa de formación
            h1.curso-titulo Título del componente formativo

            .brand-line-primary

            p.curso-descripcion Breve introducción: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            a.curso-btn-iniciar.btn.btn-danger(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")