h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 Cód. 220501007-02
        p.mb-0 Entender la manera en la que se asignan valores y se desarrollan los cálculos, manejando los diferentes tipos de datos, la jerarquía de operaciones y el uso de funciones en Java.



