h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('text', 'Introducci칩n', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Variables', 'main.html#page/variables/')
                    +navTemaItem('2', 'Tipos de datos', 'main.html#page/tipos-datos/')
                    +navTemaItem('3', 'Operaciones b치sicas', 'main.html#page/operaciones-basicas/')
                    +navTemaItem('4', 'Funciones', 'main.html#page/funciones/')
                    +navTemaItem('5', 'Entrada de informaci칩n', 'main.html#page/entrada-informacion/')
                    +navTemaItem('question', 'Actividad did치ctica', 'main.html#page/actividad-1/')
