.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Variables y estructuras de control en la programación orientada a objetos: Java
            h1.curso-titulo Sintaxis de las variables, tipos de datos y operaciones en Java

            .brand-line-primary

            p.curso-descripcion En este material de formación se aborda la sintaxis para la declaración de variables y su respectiva asignación de valores, así como también los tipos de datos y la jerarquía de operaciones, haciendo uso del lenguaje de programación Java. 
 


            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")