
.container
    .jumbotron.bg-white.mt-2
        .h1c 1. Redes de datos.
        hr.line
        .container 
            p.parrafo.mt-3 Las redes de datos son infraestructuras que se han creado para poder transmitir información a través del intercambio de datos. Según Moro (2013), son arquitecturas específicas para este fin, cuya base principal es la conmutación de paquetes y que atienden a una clasificación exclusiva, teniendo en cuenta la distancia que es capaz de cubrir su arquitectura física y, por supuesto, el tamaño que presentan.
            p.parrafo Antes de proceder a determinar el significado del término que ahora nos ocupa, es importante dejar claro su origen etimológico. En concreto, de acuerdo con Vásquez (2010), establece la siguiente información:

            .row 
                .col-6
                    img.card-img-top(src="assets/images/pages/ilustraciones/img1.svg", alt='...')
                .col-6
                    img.card-img-top(src="assets/images/pages/ilustraciones/img2.svg", alt='...') 

            .jumbotron.bg1.mt-5
                .row 
                    .col-10.my-5    
                        p Se conoce como red de datos a la infraestructura cuyo diseño posibilita la transmisión de información a través del intercambio de datos. De acuerdo con Pérez (2003), cada una de estas redes se ha diseñado específicamente para satisfacer sus objetivos, con una arquitectura determinada para facilitar el intercambio de los contenidos.
                    .col-2.my-2
                        img.card-img-top(src="assets/images/pages/ilustraciones/img3.svg", alt='...').img-fluid
            hr.line
            
            .row.mt-5 
                .col-6
                    img.card-img-top(src="assets/images/pages/ilustraciones/img4.svg", alt='...')
                .col-6
                    .h2c 1.1 La historia
                    p.parrafos.mt-5 La historia de las redes de computadoras tiene sus orígenes al comienzo del siglo XIX. Los primeros sistemas se denominaban de telégrafo óptico y consistían en torres, similares a los molinos, con una serie de brazos o bien persianas. Estos brazos o persianas codificaban la información por sus distintas posiciones.
                    p.parrafos Estas redes permanecieron hasta mediados del siglo XIX, cuando fueron sustituidas por el telégrafo, cada torre, evidentemente, debía de estar a distancia visual de las siguientes; cada torre repetía la información hasta llegar a su destino. Un sistema similar aparece, y tiene un protagonismo especial, en la novela Pavana, de Keith Roberts, una ucronía en la cual Inglaterra ha sido conquistada por la Armada Invencible.

            .jumbotron.borderjb.mt-5
                p.parrafo.mt-0 Las primeras redes comerciales se valían del protocolo Arcnet (Attached Resource Computer Network), desarrollado por Datapoint Corporation, alrededor de 1980. Utilizaba cable coaxial y empleaba conexiones de 2.5 Mbps, en ese tiempo considerada alta velocidad.

                p.parrafo La primera red informática surgió en la Guerra Fría y se denominó Arpanet. Se creó durante la cortina de hierro, y su objetivo principal era que la información militar de los Estados Unidos no estuviera centralizada y pudiera estar disponible en un punto del país ante un eventual ataque ruso. Sólo unos meses después de la primera conexión, la red ya contaba con cuatro nodos remotos en otras instituciones estadounidenses como el Instituto de Investigaciones de Standford y la Universidad de Utah.
            .row 
                .col-6
                    p.parrafo Cuando el primer sistema de comunicaciones ya resultaba obsoleto, se creó el protocolo TCP/IP, que se sigue utilizando hasta hoy, y que funciona como estándar dentro de las redes informáticas. En 1983, Paul Mockapetris y Jon Postel crearon el sistema de nombres de dominio (DNS) y las denominaciones .com, .org, y .gov, tan características de lo que hoy llamamos Internet.

                    p.parrafo La última etapa en el desarrollo fue la creación de la World Wide Web, a cargo de Tim Berners-Lee, quien a principio de los ’90 inventó el sistema de links, fundamental para el crecimiento de la red de redes. Tim Berners no patentó su invento para no poner escollos comerciales a la evolución de Internet. Su aporte fue reconocido recientemente, cuando fue condecorado como caballero por la realeza británica y además fue elegido por la revista Time como uno de los 20 pensadores más influyentes del siglo XX.

                .col-6
                    img.card-img-top(src="assets/images/pages/ilustraciones/img5.svg", alt='...')
            hr.line
            

            .h2c.mt-5 1.2 Conceptos básicos y componentes de una red

             nav.nav-tab-ecored.my-5
                    #nav-tab.nav.nav-tabs(role='tablist')
                        a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                            strong Servidor
                        a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                            strong Estacion de trabajo
                        a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                            strong Tarjeta de conexión a la red
                        a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                            strong Repetidores
                        a#nav-05-tab.nav-item.nav-link(data-toggle='tab', href='#nav-05', role='tab', aria-controls='nav-05', aria-selected='false') 
                            strong Routers
                        a#nav-06-tab.nav-item.nav-link(data-toggle='tab', href='#nav-06', role='tab', aria-controls='nav-06', aria-selected='false') 
                            strong Switch
                        a#nav-07-tab.nav-item.nav-link(data-toggle='tab', href='#nav-07', role='tab', aria-controls='nav-07', aria-selected='false') 
                            strong Cableado 
                        a#nav-08-tab.nav-item.nav-link(data-toggle='tab', href='#nav-08', role='tab', aria-controls='nav-08', aria-selected='false') 
                            strong Protocolo
                        
                    #nav-tabContent.tab-content
                        #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')
                            .row 
                                .col-8 
                                    .h1c Servidor
                                    p.parrafo Es una computadora que, formando parte de una red, provee servicios a otras computadoras denominadas clientes. También se suele denominar con la palabra servidor a una aplicación informática o programa que realiza algunas tareas en beneficio de otras aplicaciones llamadas clientes.  Entre los servicios ofrecidos por un servidor, está el manejo de archivos y aplicaciones. Los primeros consisten en un proceso de lectura y escritura por parte de los usuarios sobre archivos almacenados en una estación de trabajo. De otro lado, las aplicaciones permiten a los usuarios finales realizar tareas acordes a sus necesidades.
                                .col-4
                                    img.img-a(src="assets/images/pages/ilustraciones/img6.svg", alt='...').img-fluid


                        #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                            .row
                                    .col-3
                                        img.img-a(src="assets/images/pages/ilustraciones/img7.svg", alt='...').img-fluid
                                    .col-9.mt-5
                                        .h1c Estación de trabajo
                                        p.parrafo Son los nodos finales de una red de computadoras. Normalmente, las estaciones de trabajo permiten a los usuarios ejecutar aplicaciones y almacenar diferentes tipos de información. Sin embargo, podríamos pensar en una impresora conectada a la red, como un nodo final de ésta y verse como una estación de trabajo, pero con prestaciones diferentes y reducidas comparadas con la de un computador.
                                    
                            
                        #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')
                            .row 
                                .col-9 
                                    .h1c Tarjeta de conexión a red
                                    p.parrafo Es una computadora que, formando parte de una red, provee servicios a otras computadoras denominadas clientes. También se suele denominar con la palabra servidor a una aplicación informática o programa que realiza algunas tareas en beneficio de otras aplicaciones llamadas clientes.  Entre los servicios ofrecidos por un servidor, está el manejo de archivos y aplicaciones. Los primeros consisten en un proceso de lectura y escritura por parte de los usuarios sobre archivos almacenados en una estación de trabajo. De otro lado, las aplicaciones permiten a los usuarios finales realizar tareas acordes a sus necesidades.
                                .col-3
                                    img.img-a(src="assets/images/pages/ilustraciones/img8.svg").img-fluid

                        #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')
                            .row
                                    .col-3
                                        img.img-a(src="assets/images/pages/ilustraciones/img9.svg", alt='...').img-fluid
                                    .col-9.mt-5
                                        .h1c Repetidores
                                        p.parrafo Es un dispositivo electrónico que recibe una señal débil o de bajo nivel y la retransmite a una potencia o nivel más alto, de tal modo que se puedan cubrir distancias más largas sin degradación o con una degradación tolerable. El término repetidor se creó con la telegrafía y se refería a un dispositivo electromecánico utilizado para regenerar las señales telegráficas. El uso del término ha continuado en telefonía y transmisión de datos.
                        #nav-05.tab-pane.fade(role='tabpanel', aria-labelledby='nav-05-tab')
                            .row 
                                .col-9 
                                    .h1c Routers
                                    p.parrafo Es un enrutador, elemento que marca el camino más adecuado para la transmisión de mensajes en una red completa, esta toma el mejor camino para enviar los datos dependiendo del tipo de protocolo que esté cargado.

                                .col-3
                                    img.img-a(src="assets/images/pages/ilustraciones/img10.svg").img-fluid
                        #nav-06.tab-pane.fade(role='tabpanel', aria-labelledby='nav-06-tab')
                            .row
                                    .col-3
                                        img.img-a(src="assets/images/pages/ilustraciones/img11.svg", alt='...').img-fluid
                                    .col-9.mt-5
                                        .h1c Switch
                                        p.parrafo Es un dispositivo digital de lógica de interconexión de redes de computadores que opera en la capa 2 (nivel de enlace de datos) del modelo OSI. Su función es interconectar dos o más segmentos de red, de manera similar a los puentes (bridges), pasando datos de un segmento a otro de acuerdo con la dirección MAC de destino de las tramas en la red.
                        #nav-07.tab-pane.fade(role='tabpanel', aria-labelledby='nav-07-tab')

                            .row 
                                .col-8 
                                    .h1c Cableado
                                    p.parrafo Los tipos de cableado de red más populares son: par trenzado, cable coaxial y fibra óptica, además se pueden realizar conexiones a través de radio o microondas, dependiendo el tipo de red y los requerimientos de esta, velocidad y longitud, se debe considerar el tipo de cable a utilizar.

                                .col-4
                                    img.img-a(src="assets/images/pages/ilustraciones/img12.svg").img-fluid
                        #nav-08.tab-pane.fade(role='tabpanel', aria-labelledby='nav-08-tab')
                            .row
                                    .col-3
                                        img.img-a(src="assets/images/pages/ilustraciones/img13.svg", alt='...').img-fluid
                                    .col-9.mt-5
                                        .h1c Protocolo
                                        p.parrafo El protocolo es la parte software de la red. Se encarga básicamente de establecer las reglas de comunicación entre equipos de la red, definir el formato de las informaciones que circulan por la red y también debe habilitar mecanismos para permitir la identificación de los equipos en la red. Existen infinidad de protocolos en función de la red con la que se está trabajando. El más utilizado actualmente es el conocido como TCP / IP.
            hr.line
            .row.mt-5 
                .col-5 
                    .h2c 1.3 Medios de transmisión
                    p.parrafo Los medios de transmisión son las vías por las cuales se comunican los datos. Dependiendo de la forma de conducir la señal a través del medio o soporte físico, 
                .col-7 
                    img.img-a(src="assets/images/pages/ilustraciones/img14.svg", alt='...').img-fluid

            .row.mt-5 
                .col-6  
                    .jumbotron.bg2.my-auto
                        img.img-a(src="assets/images/pages/ilustraciones/img15.svg", alt='...').img-fluid
                .col-6 
                    .h1cc Medio de transmisión guiados.
                    p.parrafo Los medios de transmisión guiados están constituidos por cables que se encargan de la conducción (o guiado) de las señales desde un extremo al otro. Las principales características de los medios guiados son el tipo de conductor utilizado, la velocidad máxima de transmisión, las distancias máximas que puede ofrecer entre repetidores, la inmunidad frente a interferencias electromagnéticas, la facilidad de instalación y la capacidad de soportar diferentes tecnologías de nivel de enlace. Dentro de los medios de transmisión guiados, los más utilizados en el campo de las telecomunicaciones y la interconexión de computadoras son tres:

                    img.img-a(src="assets/images/pages/ilustraciones/img16.svg", alt='...').img-fluid
            .row.mt-5
                .col-6 
                    .h1cc Medio de transmisión no guiados.
                    p.parrafo Los medios no guiados o comunicación sin cable transportan ondas electromagnéticas sin usar un conductor físico, sino que se radian a través del aire, por lo que están disponibles para cualquiera que tenga un dispositivo capaz de aceptarlas. En este tipo de medios tanto la transmisión como la recepción de información se lleva a cabo mediante antenas. Según el rango de frecuencias de trabajo, las transmisiones no guiadas se pueden clasificar en tres tipos:

                    img.img-a(src="assets/images/pages/ilustraciones/img18.svg", alt='...').img-fluid 
                .col-6  
                    .jumbotron.bg2.my-auto
                        img.img-a(src="assets/images/pages/ilustraciones/img17.svg", alt='...').img-fluid
            hr.line.mt-5            
            .h2c.mt-5 1.4 Protocolos de comunicación
            .row 
                p.parrafo Está claro que las personas utilizan diferentes formas de comunicación. Las palabras, los gestos, los mensajes escritos nos permiten establecer esta comunicación, pero ¿cómo entendernos sin un lenguaje común?, ¿qué normas seguimos para establecer esta comunicación?, ¿nos comunicamos de la misma forma con todas las personas? El ejemplo de la Torre de Babel, la cual no llegó a construirse porque se hablaban multitud de lenguas, nos sirve para entender la importancia de la comunicación.
                .col-6
                    p.parrafo Cuando se trata de la comunicación entre ordenadores primero se deben conocer cuáles son las normas que permiten esta comunicación, o lo que es lo mismo, qué protocolo de comunicación utilizan. Para Stallings, Tanenbaum y Stevens (2000), un protocolo de red es un conjunto de normas que permite la comunicación entre ordenadores, estableciendo la forma de identificación de éstos en la red, la forma de transmisión de los datos y la forma en que la información debe procesarse. 

                    p.parrafo Los protocolos pueden ser implementados mediante hardware (tarjetas de red), software (drivers), o una combinación de ambos.
                .col-6
                    img.img-a(src="assets/images/pages/ilustraciones/img19.svg", alt='...').img-fluid
                
                //Arreglar aliniacion de imagen
            .row 
                 img.img-a(src="assets/images/pages/ilustraciones/img20.svg", alt='...').img-fluid
            
            hr.line

            .h2c 1.5 Clasificación de redes
            p.parrafo La clasificación de las redes puede realizarse desde distintos puntos de vista, pero la más general es la que se realiza en función del número de equipos conectados y la distancia a la que se encuentran:
            .row 
                .col-5
                    img.img-a(src="assets/images/pages/ilustraciones/img21.svg", alt='...').img-fluid
                .col-7
                     #accordionExample.accordion
                        .card
                            #headingOne.card-header
                                h2.mb-0
                                    button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
                                        h2.mb-0.collapsable-title Por alcance
                            #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                                .card-body
                                    ul 
                                        li Red de área personal o PAN (personal area network)
                                        br
                                        li Red de área local o LAN (local area network)
                                        br
                                        li Una red de área de campus o CAN (campus area network)
                                        br
                                        li Una red de área metropolitana (metropolitan area network o MAN, en inglés)
                                        br
                                        li Las redes de área amplia (wide area network, WAN)
                                        br
                                        li Una red de área de almacenamiento, en inglés SAN (storage area network)
                                        br
                                        li Una Red de área local virtual (Virtual LAN, VLAN).            
                        .card
                            #headingTwo.card-header
                                h2.mb-0
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                        h2.mb-0.collapsable-title Por tipo de conexión
                            #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                                .card-body
                                    ul 
                                        li Medios guiados
                                        li Medios no guiados  
                                    
                        .card
                            #headingThree.card-header
                                h2.mb-0
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                        h2.mb-0.collapsable-title Por relación funcional
                            #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                                .card-body
                                    ul 
                                        //Agregar negrita a arquitectura o relacion
                                        li Es una arquitectura o relación que consiste en realizar peticiones o solicitudes a un componente de la red informática llamado servidor y que puede estar alojado en la misma red del peticionario. Este componente a su vez puede o no responder satisfactoriamente la petición y si ésta es positiva entonces se dará lugar a un servicio.}
                                        br
                                        // Aregar negrillas a Peer-to-peer
                                        li Peer-to-peer.   Consiste en la conformación de una red de datos en la que no hay componentes dominantes o que dirijan a los demás integrantes de la malla. Es decir, cada elemento de la red tiene los mismos privilegios y restricciones que cualquier otro.
                                    
                        .card
                            #headingFour.card-header
                                h2.mb-0
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                                        h2.mb-0.collapsable-title Por tecnología
                            #collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordionExample')
                                .card-body
                                    ul 
                                        //Agregar negrita a arquitectura o relacion
                                        li Red Point-To-Point es aquella en la que existe multitud de conexiones entre parejas individuales de máquinas. Este tipo de red requiere, en algunos casos, máquinas intermedias (routers)que establezcan rutas para que puedan transmitirse paquetes de datos.
                                        br
                                        // Aregar negrillas a Peer-to-peer
                                        li Red Broadcast se caracteriza por transmitir datos por un sólo canal de comunicación que comparten todas las máquinas de la red. En este caso, el paquete enviado es recibido por todas las máquinas de la red, pero únicamente la destinataria puede procesarlo.

                        .card
                            #headingFive.card-header
                                h2.mb-0
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                                        h2.mb-0.collapsable-title Por la direccionalidad de los datos
                            #collapseFive.collapse(aria-labelledby='headingFour', data-parent='#accordionExample')
                                .card-body
                                    ul 
                                        //Agregar negrita a arquitectura o relacion
                                        li Simplex o Unidireccional:  Consiste en la transmisión de información en un solo sentido donde el emisor no tiene retroalimentación alguna por parte del receptor. Un ejemplo de este tipo de transmisión son las emisoras radiales, donde el oyente necesita de un radio receptor pero éste aparato no permite enviar señal alguna.
                                        br
                                        // Aregar negrillas a Peer-to-peer
                                        li Half-Duplex o Bidireccional:  Este tipo de comunicación permite que la información se transmita en ambos sentidos, pero con la restricción de uno solo a la vez. Es decir, para que uno de los dos involucrados (emisor o receptor) pueda transmitir, el otro debe estar en silencio. También es denominado semi-duplex. Un ejemplo de este tipo de transmisión son los radios de la policía. 
                                        br
                                        li Full-Duplex: ambos pueden transmitir y recibir a la vez la misma información. Un claro ejemplo de este tipo de transmisión son los teléfonos móviles o celulares.
                        .card
                            #headingSix.card-header
                                h2.mb-0
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                                        h2.mb-0.collapsable-title Por grado de difusión
                            #collapseSix.collapse(aria-labelledby='headingFour', data-parent='#accordionExample')
                                .card-body
                                    ul 
                                        //Agregar negrita a arquitectura o relacion
                                        li Una intranet es una red de computadoras que utiliza alguna tecnología de red para usos comerciales, educativos o de otra índole de forma privada, esto es, que no comparte sus recursos o su información con redes ilegítimas.
                                        br
                                        // Aregar negrillas a Peer-to-peer
                                        li Internet es un conjunto descentralizado de redes de comunicación interconectadas que utilizan la familia de protocolos TCP/IP, garantizando que las redes físicas heterogéneas que la componen funcionen como una red lógica única, de alcance mundial.
            hr.line.mt-5
            .h2c 1.6 Topologías de redes 
            .row.mt-5 
                .col-6
                    .jumbotron.jt1
                        p.pf1 En cuanto a la topología física, existen tres tipos considerados básicos para montar una red:
                    .jumbotron.jt2 
                        ul 
                            li La red en bus consiste en la conexión de todos los nodos de la red a un solo canal de comunicación lo que genera una serie de desventajas como degradación de la señal, pobre escalamiento entre otras.

                    .jumbotron.jt2 
                        ul 
                            li En una red en anillo cada estación está conectada a la siguiente y la última está conectada a la primera.
                    .jumbotron.jt2 
                        ul 
                            li En una red en estrella las estaciones están conectadas directamente a un punto central y todas las comunicaciones se han de hacer necesariamente a través de este.
                .col-6
                    p.parrafo El resto de las topologías físicas que se pueden dar son combinaciones de las anteriores.
                    img.img-a(src="assets/images/pages/ilustraciones/img22.svg", alt='...').img-fluid
                    div.ct1.mt-5
                        .col-3 
                            img.img-a(src="assets/images/pages/ilustraciones/img23.svg", alt='...').img-fluid
                        .col-10
                            p.parrafo Broadcast: se basa en que cada ordenador envía sus datos hacia todos los demás del medio de red. Las operaciones se realizan por orden de llegada como si fuese Ethernet.
                    div.ct1.mt-5
                        .col-3 
                            img.img-a(src="assets/images/pages/ilustraciones/img24.svg", alt='...').img-fluid
                        .col-10
                            p.parrafo Transmisión de tokens: se basa en la transmisión de forma secuencial de tokens electrónicos a cada ordenador. Hay dos tipos de redes que utilizan esta topología: TokenRing y FDDI.

            hr.line        
            .h2c 1.7 Modelo TCP/IP y OSI 
                .jumbotron.jt3

            ul.h2c 
                li Comparación entre los modelos OSI y TCP/IP
            .row 
                .col-6  
                    p.parrafo El modelo OSI y el modelo TCP/IP son modelos de referencia que se utilizan para describir el proceso de comunicación de datos. El modelo TCP/IP se utiliza específicamente para la suite de protocolos TCP/IP, y el modelo OSI se utiliza para el desarrollo de comunicación estándar para equipos y aplicaciones de diferentes proveedores. El modelo TCP/IP realiza el mismo proceso que el modelo OSI, pero utiliza cuatro capas en lugar de siete.
                .col-6 
                    img.img-a(src="assets/images/pages/ilustraciones/img25.svg", alt='...').img-fluid
            .flexbox 
                img.img-a(src="assets/images/pages/ilustraciones/img26.svg", alt='...').img-fluid
            
            hr.line.mt-5
            .h2c 1.8 Tecnología Ethernet
            .row.mt-5  
                .col-4
                    img.img-a(src="assets/images/pages/ilustraciones/img27.svg", alt='...').img-fluid
                .col-8 
                    p.parrafo Es una serie de estándares establecidos para la implementación de redes de área local o LAN. Para Forouzan (2002), se caracteriza por ser más estable, confiable y rápida en la transmisión de datos, ya que la interferencia con otros dispositivos de la misma red es mínima. Otra ventaja que presenta esta serie de estándares es la velocidad de transmisión pues puede ser del orden de los 100 Gbit/s. Para poder implementar una red tipo Ethernet es necesario contar con una serie de dispositivos que cumplen diferentes funciones. Algunos de ellos son: enrutadores, switches, cables UTP, bridges, entre otros.
            .jumbotron.borderjb.mt-5
                p.parrafo Los objetivos principales de Ethernet son consistentes con los que se han convertido en los requerimientos básicos para el desarrollo y uso de redes LAN: 
                .row 
                    .col-6 
                        ul
                            li Simplicidad
                            li Bajo costo 
                            li Compatibilidad 
                            li Direccionamiento flexible
                            li Equidad 
                            li Progreso 
                            li Bajo retardo 
                            li Estabilidad 
                            li Mantenimiento 
                            li Arquitectura en capas
                    .col-6
                        img.img-a(src="assets/images/pages/ilustraciones/img28.svg", alt='...').img-fluid 
