.container
    .jumbotron.bg-white 
        .hI.mt-5  Introducción
          hr.line 
            .embed-responsive.embed-responsive-16by9.mt-5
              <iframe width="560" height="315" src="https://www.youtube.com/embed/z-_4zQP-V5g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        p.parrafo.mt-5 El surgimiento y avance de la tecnología de la información y comunicación, precisa que las organizaciones se doten de una adecuada infraestructura tecnológica que les permita estar permanentemente comunicadas con sus similares y a la vez les contribuya con la administración y gestión del activo más importante que puedan tener(datos). De ahí la importancia de conocer todos aquellos elementos, tanto físicos como lógicos, que aportan o asisten en la constitución de dicha infraestructura y que será la que ayude en el alcance de los objetivos establecidos como pilares en la formación de la organización.


                