.container#page-introduccion

    .header-ecored
        h1.number 1. Objetivos de desarrollo sostenible y políticas públicas de la ciencia, la tecnología y la innovación (CTeI)


    .jumbotron.bg-white 
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
              p Los objetivos de desarrollo sostenible (ODS), son una reacción a las dificultades que tuvieron los Objetivo del milenio (ODM) formulados en el 2000, cuando se planteó la necesidad de disminuir la pobreza y tratar de dar mayor equilibrio a la población mundial.

          .p-5(style="background-color:#ECEFFE")        
            p Sin embargo, con el tiempo aparecieron nuevos problemas, como el aumento de la población urbana, la cual se equilibró con la rural y el crecimiento exagerado hizo que pasara en algunos lugares, de 2 millones de habitantes a 8 o 10 millones. <br>Así mismo, aumentaron las catástrofes naturales, los tsunamis y los huracanes como el Katrina, y como si fuera poco, eventos como la crisis financiera mundial del 2008, dejaron 15 millones de desempleados. 
            p Posteriormente, en el año 2015, se hace necesario pensar en un cambio de objetivos y de mirada sobre el desarrollo. Por esta razón surgen los Objetivos de Desarrollo Sostenible, que, a diferencia de los Objetivos de Desarrollo del Milenio, los cuales estaban anclados en la economía, se basaron en 3 pilares: inclusión social, sustentabilidad ambiental y económica. 
            p Cabe recordar que hace 3 años, no era tan clara esta problemática, la cual se ha puesto de manifiesto con la emergencia sanitaria por la pandemia del COVID-19, que se ha visto agravada por no cumplir con los ODS.
             



              