include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h1 Introducción


    .jumbotron.bg-white

        .row.justify-content-center.align-items-center

            .col-12.col-md-6

                img(src="assets/images/pages/introduccion/introduccion.svg").img-fluid

            .col-12.col-md-6

                hr.line-100.bg-orange
                p.py-5 En este material de formación se aborda la sintaxis para la declaración de variables y su respectiva asignación de valores, así como también los tipos de datos y la jerarquía de operaciones, haciendo uso del lenguaje de programación Java.  
                hr.line-100.bg-orange


        .jumbotron.my-5
            p En el contexto de la programación, la lógica siempre es igual, sin importar el lenguaje que se esté manejando; sin embargo, es esencial conocer la sintaxis específica de las diferentes instrucciones que van a ser escritas, dado que estas, por lo general, si difieren de un lenguaje a otro.
