.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Nombre del documento o material
                th Tipo de material
                th Enlace del recurso

        tbody

        
            tr
                td Aprenda Java como si estuviera en primero.
                td PDF
                td 
                    a(href="media/documentos/complementarios/MC_AA2_Aprenda_Java.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td Fundamentos de Programación en JAVA

                td PDF
                td 
                    a(href="media/documentos/complementarios/MC_AA2_Fundamentos_Programacion_Java.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                                      