.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td Schot, Boni, Ramirez, Steward (2018) “Addressing SDGs through Transformative Innovation Policy’, TIPC Research Briefing 2018-01.
                    td PDF
                    td 
                        a(href="media/documentos/complementarios/MC_AA1_4214_TIPC_research_brief_SDGs_spanish_4.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                                                     