include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Colciencias. (2018). Libro verde 2030. Obtenido de Política de Ciencia e Innovación:", "http://libroverde2030.com")

        +referenciaItem("Ramírez, M., Pinzón, L. (2018). Orientaciones para la formulación de políticas regionales de innovación transformativa en Colombia. Bogotá.", "http://www.tipconsortium.net/wp-content/uploads/2019/04/Orientaciones-formulacion-politicas_defweb.pdf")

        +referenciaItem("Talavera, M. (2018). Innovación transformadora, conceptos básicos y marcos de innovación. México.", "https://foroconsultivo.org.mx/innovacion_transformadora/docs/Entregable_3.pdf")

      
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            