include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h2 1.1 ¿Cómo se declaran?


    .jumbotron.bg-white.mb-0

        p.mb-5 Para declarar variables se debe contar con tres aspectos básicos que son: tipo de dato, nombre de la variable y valor; sin embargo, si se trata de variables que sean propias de un objeto, debe tenerse en cuenta también la privacidad.

        p Algunos ejemplos de declaración de variables son los siguientes:

        p.text-center.my-6
            img(src="assets/images/pages/tema-1/t11-1.png").img-fluid

        p.mt-5 En los ejemplos anteriores se observan los tres aspectos básicos mencionados; están los tipos de datos int, long, string y boolean, y están los nombres de variables valor, nota, texto y acepta; asimismo, a cada una de esas cuatro variables de ejemplo, se les ha asignado un valor inicial.

        p En el caso de las variables que sean propias de un objeto, los ejemplos serían los siguientes:

        p.text-center.my-6
            img(src="assets/images/pages/tema-1/t11-2.png").img-fluid

        p Las palabras private y public hacen referencia a la privacidad de los atributos, entendiéndose de la siguiente forma:

        p.header-step.mt-5
            span.header-step-number.text-color-orange 1.
            span.header-step-title #[strong Private:] el atributo puede ser accedido únicamente por la misma clase.
        hr.my-4
        p.header-step
            span.header-step-number.text-color-orange 2.
            span.header-step-title #[strong Public:] el atributo puede ser accedido desde cualquier clase o instancia.
        hr.my-4
        p.header-step
            span.header-step-number.text-color-orange 3.
            span.header-step-title #[strong Protected:] el atributo puede ser accedido desde la misma clase, desde las clases del mismo paquete, y desde clases que se hayan heredado de la clase original.


        p.mt-5 En el caso del ejemplo static long nota; la privacidad sería por defecto, lo que significa que el atributo puede ser accedido por la misma clase, y también por las clases del mismo paquete.

        p A continuación,  se observan las restricciones de acceso, según la privacidad declarada:

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/t11-3.svg").img-fluid        