include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h1 2. Tipos de datos


    .jumbotron.bg-white.mb-0

        p.text-center.my-5
            img(src="assets/images/pages/tema-2/t2.svg").img-fluid

        p En la programación de software es necesario manipular y almacenar información, la cual es grabada en espacios temporales de memoria del computador; los tipos de datos consisten en la forma en que el lenguaje interpreta las variables de acuerdo con lo que estas contengan o puedan contener.

        p Cada uno de los tipos de datos tiene un nombre, y además está en capacidad de guardar información de cierta categoría dentro de un rango específico.

    #tema-21.header-ecored.my-5
        h2 2.1 Primitivos


    .jumbotron.bg-white.mb-0

        p Los tipos de datos primitivos son aquellos que se encuentran predefinidos y están disponibles dentro del lenguaje.  El lenguaje Java cuenta con cuatro tipos diferentes para representar números enteros, dos de números reales en coma flotante, uno para caracteres, y uno para valores lógicos. En la siguiente figura se pueden observar dichos tipos, clasificados según la información que almacenan.

        p.text-center.my-5
            img(src="assets/images/pages/tema-2/t2-1.svg").img-fluid

        p En la siguiente tabla se ilustran los tipos de datos primitivos, sus valores mínimo y máximo y valores por defecto.

        p.text-center.my-5
            img(src="assets/images/pages/tema-2/t2-2.svg").img-fluid

        p A manera de ejemplo y para comprender mejor lo que se menciona respecto a los valores mínimo y máximo, puede decirse que en Java un dato de tipo int no podría almacenar el valor de tres mil millones (3.000’.000.000) dado que su tope máximo es de dos mil ciento cuarenta y siete millones cuatrocientos ochenta y tres mil seiscientos cuarenta y siete (2.147’483.647).

    #tema-22.header-ecored.my-5
        h2 2.2 Clases


    .jumbotron.bg-white.mb-0

        p También llamadas tipos estructurados, usualmente contienen múltiples valores y se utilizan en la representación de objetos.  En la siguiente figura se pueden observar dichos tipos.      

        p.text-center.my-5
            img(src="assets/images/pages/tema-2/t2-3.svg").img-fluid        