include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h2 3.1 Operadores

    .jumbotron.bg-white

        p En la siguiente figura se observan los operadores utilizados.

        p.text-center.my-5
            img(src="assets/images/pages/tema-3/t31-operadores.svg").img-fluid

        
        .subtitulo-ecored.mt-6.mb-1
            h2 
                span.number.text-white 1.
                span Aritméticos


        p Como su nombre lo indica, se utilizan para realizar operaciones aritméticas con las variables de tipo numérico; en el caso de Java, se clasifican en tres categorías que son: básicos, incrementales y combinados.

        .subtitulo-guion--dark.my-5
            h3 Básicos

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold +
            .col.ml-n2
                span #[strong Suma.] Se utiliza para sumar los valores contenidos en las variables.

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold -
            .col.ml-n2
                span #[strong Resta.] Se emplea para restar los valores contenidos en las variables.

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold *
            .col.ml-n2
                span #[strong Multiplicación.] Se usa para multiplicar los valores contenidos en las variables.

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold /
            .col.ml-n2
                span #[strong División.] Se maneja para dividir los valores contenidos en las variables.

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold %
            .col.ml-n2
                span #[strong Resto de la división.] Se destina para devolver el residuo de una división entera.    


        p.my-5 En la siguiente figura se observa un ejemplo de utilización de los operadores aritméticos básicos:                      

        p.text-center.my-5
            img(src="assets/images/pages/tema-3/terminal-1.png").img-fluid        

        p En la línea de código 3 del ejemplo anterior, se declaran las variables de tipo entero requeridas para realizar operaciones con los operadores aritméticos básicos; posteriormente de las líneas 5 a la 8 se utilizan dichas variables para imprimir la suma, resta, multiplicación y división entre estas.
        
        p.my-4.font-weight-bold Salida:

        p.text-center.my-5
            img(src="assets/images/pages/tema-3/terminal-2.png").img-fluid 

        p En la anterior figura, se observa la ejecución de dicho código.

        .bg-brand-color-light.my-5.p-4
            .row.align-items-center.justify-content-center
                .col-auto
                    img(src="assets/images/pages/tema-3/t3-icono.svg").img-fluid
                .col
                    p.pr-0 #[strong NOTA:] ejecutar el IDE NetBeans y llevar a cabo todos los ejemplos vistos en el contenido de este documento con el fin de adquirir práctica en la escritura de las secuencias de código en el lenguaje Java.

        .subtitulo-guion--dark.my-5
            h3 Incrementales

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold ++
            .col.ml-n2
                span #[strong Incremento.] Incrementa en 1 el valor de una variable.

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold --
            .col.ml-n2
                span #[strong Decremento.] Decrementa en 1 el valor de una variable.

        p.my-5 Según la ubicación del operador, la variable se utiliza y luego se incrementa (operador después de la variable <b>variable++</b>) o se incrementa y luego se utiliza (operador antes de la variable <b>++variable</b>).

        p A continuación se observa un ejemplo de utilización de los operadores aritméticos incrementales.

        .card.my-4
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/sIzdib1sIOQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.bg-brand-color-secondary.text-white
                p <b>Operadores aritméticos incrementales</b>

        .subtitulo-guion--dark.my-5
            h3 Combinados

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold +=
            .col.ml-n2
                span #[strong Suma combinada.] Asigna a la variable 1 la suma de los valores de las variables 1 y 2.

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold -=
            .col.ml-n2
                span #[strong Resta combinada.]  Designa a la variable 1 la diferencia entre los valores de las variables 1 y 2.

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold *=
            .col.ml-n2
                span #[strong Producto combinado.] Establece a la variable 1 la multiplicación de los valores de las variables 1 y 2.

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold /=
            .col.ml-n2
                span #[strong División combinada.] Asigna a la variable 1 la división entre los valores de las variables 1 y 2.

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold %=
            .col.ml-n2
                span #[strong Resto combinado.] Designa a la variable 1 el residuo de los valores de las variables 1 y 2.

        p.my-5 A continuación  se observa un ejemplo de utilización de los operadores aritméticos combinados.

        .card.my-4
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/kDi7VFxix5k', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.bg-brand-color-secondary.text-white
                p <b>Operadores aritméticos incrementales</b>


        .subtitulo-ecored.mt-5.mb-1
            h2 
                span.number.text-white 2.
                span Lógicos


        p.my-5 Los operadores lógicos, como su nombre lo indica, permiten construir expresiones lógicas.


        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold &
            .col.ml-n2
                span #[strong AND lógico.] Evalúa condiciones y devuelve TRUE cuando todas se cumplen.               

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold |
            .col.ml-n2
                span #[strong OR lógico.] Evalúa condiciones y devuelve TRUE cuando al menos una se cumple.         

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold &&
            .col.ml-n2
                span #[strong AND en cortocircuito.] Evalúa condiciones y si la primera no se cumple, devuelve FALSO y no evalúa las demás.                

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold ||
            .col.ml-n2
                span #[strong OR en cortocircuito.] Evalúa condiciones y si la primera se cumple, devuelve VERDADERO y no evalúa las demás.                    

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold !
            .col.ml-n2
                span #[strong Negación.] Niega el valor enviado.                


        p.my-5 A continuación se observa un ejemplo de utilización del operador lógico AND (&).

        .card.my-4
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/wBvy2yipuCA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.bg-brand-color-secondary.text-white
                p <b>Operadores lógicos AND</b>                

        p.my-5 A continuación se observa un ejemplo de utilización del operador lógico OR.

        .card.my-4
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/C_EQ5DpPte0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.bg-brand-color-secondary.text-white
                p <b>Operadores lógicos OR</b>                       


        p.my-5 A continuación se observa un ejemplo de utilización del operador lógico AND (&&) y OR (||) en cortocircuito.

        .card.my-4
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ereaxxeDyzg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.bg-brand-color-secondary.text-white
                p <b>Operadores lógicos AND – OR en cortocircuito</b>                 


        .subtitulo-ecored.mt-5.mb-1
            h2 
                span.number.text-white 3.
                span De relación


        p.my-5 Los operadores de relación permiten comparar datos de tipos primitivos; asimismo devuelven un valor booleano o ejecutan las acciones requeridas por el programador, según la comparación efectuada.


        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold ==
            .col.ml-n2
                span #[strong Igual a.] Evalúa si una variable contiene el mismo valor que la otra.           

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold !=
            .col.ml-n2
                span #[strong Diferente a.] Evalúa si una variable contiene un valor diferente que la otra.                 

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold &lt;
            .col.ml-n2
                span #[strong Menor que.] Evalúa si una variable contiene un valor menor que la otra.         


        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold &gt;
            .col.ml-n2
                span #[strong Mayor que.] Evalúa si una variable contiene un valor mayor que la otra. 

        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold &lt;=
            .col.ml-n2
                span #[strong Menor o igual que.] Evalúa si una variable contiene un valor menor o igual que la otra.          


        .row.align-items-center.mb-2

            .col-auto
                .avatar.avatar-sm
                    span.nav-tema-item__icon.avatar-title.font-size-lg.bg-secondary-soft.rounded-circle.text-primary.font-weight-bold &gt;=
            .col.ml-n2
                span #[strong Mayor o igual que.] Evalúa si una variable contiene un valor mayor o igual que la otra.   

        p.my-5 A continuación se observa un ejemplo de utilización de los operadores aritméticos de relación.

        .card.my-4
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/eEeJtrL2gOE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.bg-brand-color-secondary.text-white
                p <b>Operadores de relación</b>