include ../mixins/functions
+pageHeader("Introducci칩n", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h1 1. Variables


    .jumbotron.bg-white


        p.text-center.my-6
            img(src="assets/images/pages/tema-1/t1-variables.svg").img-fluid


        p.mb-5 Las variables consisten en espacios de almacenamiento de informaci칩n en la memoria; est치n definidas por medio de identificadores que se representan en palabras, los cuales son utilizados durante el proceso de programaci칩n cada vez que se requiera almacenar datos en la memoria del programa; cada variable debe tener establecido un tipo de dato que determina la clase de valor que puede almacenar.