.container#page-tema-1
    
    .header-ecored
        h1 1. span Objetivos de desarrollo sostenible y políticas públicas de la ciencia, la tecnología y la innovación (CTeI)

    .jumbotron.bg-white 

            .row.justify-content-center.align-items-center
                .col.d-flex.justify-content-center.my-0
                img(src="assets/images/pages/tema-1/img_05.svg", alt="").img-fluid
     
            p.mt-3 Los objetivos de desarrollo sostenible (ODS), son una reacción a las dificultades que tuvieron los Objetivo del milenio (ODM) formulados en el 2000, cuando se planteó la necesidad de disminuir la pobreza y tratar de dar mayor equilibrio a la población mundial.

                 
            p Sin embargo, con el tiempo aparecieron nuevos problemas, como el aumento de la población urbana, la cual se equilibró con la rural y el crecimiento exagerado hizo que pasara en algunos lugares, de 2 millones de habitantes a 8 o 10 millones. <br>Así mismo, aumentaron las catástrofes naturales, los tsunamis y los huracanes como el Katrina, y como si fuera poco, eventos como la crisis financiera mundial del 2008, dejaron 15 millones de desempleados. 
            p Posteriormente, en el año 2015, se hace necesario pensar en un cambio de objetivos y de mirada sobre el desarrollo. Por esta razón surgen los Objetivos de Desarrollo Sostenible, que, a diferencia de los Objetivos de Desarrollo del Milenio, los cuales estaban anclados en la economía, se basaron en 3 pilares: inclusión social, sustentabilidad ambiental y económica. 
   
    .jumbotron.bg-white 
     .header#tema1_1.-recuadro.mt-0.mb-0
        h2
            span.number 1.1 
            span Características, funciones, relación entre los actores de las políticas públicas
     
            .row.justify-content-center.align-items-center
                .col.mt-3
                    p Existen desafíos existenciales que la política pública en general (pero específicamente la de ciencia, tecnología e innovación) no ha logrado abordar: Desigualdad, paz social, pérdida de biodiversidad, cambio climático. <br>Estas transformaciones, son responsabilidad de cada país y la sostenibilidad es el objetivo central de la transformación y tiene características sociales, ambientales y económicas.
                    p Este cambio, necesariamente implica una reforma en las políticas, el nuevo enfoque debe considerar las 3 características anteriores, llamadas también el trilema del desarrollo. <br>Si miramos al futuro, la nueva política debe ser una que involucre a la sociedad civil y consulte a la población. 

                .col
                    img(src="assets/images/pages/tema-1/img_01.svg", alt="").img-icon
                p.mt-3 La pregunta que queda es la siguiente: ¿Cómo se debe resolver un trilema? La dificultad es que las instituciones y la tecnología no están diseñadas para resolverlo ya que aún dependemos de los combustibles fósiles y del sistema financiero, el cual no es equitativo.

            .row.justify-content-center.align-items-center
                .col.d-flex.justify-content-center.my-5
                img(src="assets/images/pages/tema-1/img_02.svg", alt="").img-fluid
                
                .col-12.my-5
                p Aún debemos evolucionar muchísimo para lograr los <strong>ODS</strong>, realizar cambios profundos; es imperativo transformar las políticas, y crear nuevas instituciones en los diversos sistemas sociotécnicos, las cuales deben ser sostenibles, locales y agroecológicas.<br>Estos cambios se verán reflejados en el nuevo enfoque de dichos sistemas; el de salud basado en la prevención y no en la cura, el educativo basado en la búsqueda de individuos integrales y respetuosos de la norma. 
                p La única manera de lograr los <strong>ODS</strong> es con una nueva forma de hacer políticas, realizando cambios profundos, en ellas y con una mirada más integral y planetaria sobre el sistema.

    .jumbotron.bg-white
      .row          
        .col-12
            .header#tema1_2.-recuadro.mt-0.mb-0
                    h3
                        span.number 1.2 
                        span Políticas a nivel nacional y regional
            

      .row
        .col-12
          .quote
            .quote__bar
              .quote__bar__icon    
                img(src="assets/images/icons/quote_01.svg", alt="")
              .quote__bar__hr      
            .quote__text
              p.mb-0 #[i Las políticas públicas (policy) son aquellas estrategias encaminadas a resolver problemas públicos, el perfil de estas depende del tipo de estado (polity) y se encuentra sujeto al juego de la política (politics), es decir, están referidas a las soluciones específicas de cómo manejar los asuntos públicos, son cursos de acción que contienen un gran flujo de información referido a un objetivo público definido en forma democrática, éstos son desarrollados por el sector público con la participación de la sociedad civil (Aguillar, 1997).]   
            .quote__bar
              .quote__bar__hr 
              .quote__bar__icon
                img(src="assets/images/icons/quote_02.svg", alt="")

     
      .row.justify-content-center.mt-5
         .d-none.d-lg-block
            img(src="assets/images/pages/tema-1/img_03.svg").img-fluid
         .d-lg-none
            .row.justify-content-center.mt-5
                .col-12.col-md-4.my-6.my-md-0
                     img(src="assets/images/pages/tema-1/titulo.svg").avatar-img
                .col-12.col-md-4.my-6.my-md-0
                    img(src="assets/images/pages/tema-1/nacional.svg").avatar-img
                .col-12.col-md-4.mt-6.my-md-0
                    img(src="assets/images/pages/tema-1/regional.svg").avatar-img

    .jumbotron.bg-white
      
            .header#tema1_3.-recuadro.mt-0.mb-0
                    h3
                        span.number 1.3 
                        span Conceptos básicos sobre los objetivos de desarrollo sostenible

            p <strong> Introducción</strong> 

            p Existen 4 conceptos básicos sobre los cuales se construyen los 17 Objetivos de Desarrollo Sostenible: 

            ol 
                li.mb-0 #[strong Las personas:] inclusión social, hambre cero, educación de calidad, equidad de género.
                li.mb-0 #[strong Competitividad:] nuevas tecnologías e innovación.
                li.mb-0 #[strong Gobernanza:] economía, nuevas tecnologías.
                li.mb-0 #[strong Medio ambiente y sostenibilidad:] decisiones correctas para tener un planeta habitable.
            
            p Los objetivos de desarrollo sostenible son los siguientes:

            .row.justify-content-center.mt-5
                        .col-12.col-md-4.my-6.my-md-0
                            img(src="assets/images/pages/tema-1/macro1.svg").avatar-img
                        .col-12.col-md-4.my-6.my-md-0
                            img(src="assets/images/pages/tema-1/macro2.svg").avatar-img          
                        .col-12.col-md-4.mt-6.my-md-0
                            img(src="assets/images/pages/tema-1/macro3.svg").avatar-img
            .row.justify-content-center.mt-5
                        .col-12.col-md-4.my-6.my-md-0
                            img(src="assets/images/pages/tema-1/macro4.svg").avatar-img
                        .col-12.col-md-4.my-6.my-md-0
                            img(src="assets/images/pages/tema-1/macro5.svg").avatar-img          
                        .col-12.col-md-4.mt-6.my-md-0
                            img(src="assets/images/pages/tema-1/macro6.svg").avatar-img
            .row.justify-content-center.mt-5
                        .col-12.col-md-4.my-6.my-md-0
                            img(src="assets/images/pages/tema-1/macro7.svg").avatar-img
                        .col-12.col-md-4.my-6.my-md-0
                            img(src="assets/images/pages/tema-1/macro8.svg").avatar-img          
                        .col-12.col-md-4.mt-6.my-md-0
                            img(src="assets/images/pages/tema-1/macro9.svg").avatar-img  
            .row.justify-content-center.mt-5
                        .col-12.col-md-4.my-6.my-md-0
                            img(src="assets/images/pages/tema-1/macro10.svg").avatar-img
                        .col-12.col-md-4.my-6.my-md-0
                            img(src="assets/images/pages/tema-1/macro11.svg").avatar-img          
                        .col-12.col-md-4.mt-6.my-md-0
                            img(src="assets/images/pages/tema-1/macro12.svg").avatar-img   
            .row.justify-content-center.mt-5
                        .col-12.col-md-4.my-6.my-md-0
                            img(src="assets/images/pages/tema-1/macro13.svg").avatar-img
                        .col-12.col-md-4.my-6.my-md-0
                            img(src="assets/images/pages/tema-1/macro14.svg").avatar-img          
                        .col-12.col-md-4.mt-6.my-md-0
                            img(src="assets/images/pages/tema-1/macro15.svg").avatar-img   
            .row.justify-content-center.mt-5
                        .col-12.col-md-4.my-6.my-md-0
                            img(src="assets/images/pages/tema-1/macro16.svg").avatar-img
                        .col-12.col-md-4.my-6.my-md-0
                            img(src="assets/images/pages/tema-1/macro17.png").avatar-img 

            .row.my-5
              .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/8eZ91B2CdqM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                           
    .jumbotron.bg-white
      
        .header#tema1_4.-recuadro.mt-0.mb-0
            h3
                span.number 1.4 
                span Desarrollo social, ambiental y económico en el nicho
     
        p <strong>Introducción</strong> 

        p Los nichos pueden definirse como pequeñas redes de actores que apoyan las novedades sobre la base de expectativas y visiones. <br>Concebidos como "espacios de incubación" para tecnologías y/o prácticas radicalmente nuevas caracterizadas por una alta incertidumbre tecnológica, institucional y de mercado. Los nichos protegen las innovaciones radicales contra la selección del mercado y las presiones institucionales de un régimen y permiten a los actores conocer estas novedades y sus usos a través de la experimentación (Coenen, Raven, & Verbong, 2010; Geels, 2002). 
        p Cuando los nichos adquieren suficiente impulso para que estas configuraciones relativamente flexibles se institucionalicen, crean la capacidad para las tecnologías y prácticas emergentes de desafiar y sustituir un régimen e inducir transiciones. <br>Para complementar lo anteriormente dicho lo invitamos a hacer la lectura del siguiente texto: <br>Anexo 2: Innovación transformadora, conceptos básicos y marco de innovación.
         
          
           .col.d-flex.justify-content-center
                img(src="assets/images/pages/tema-1/img_04.svg", alt="").img-fluid  

           .row.justify-content-center.align-items-center
            .col.d-flex.justify-content-center
                img(src="assets/images/pages/tema-1/img_04_1.svg", alt="").img-fluid


            .col
                section.card-border-bottom
    
                section.my-3.ml-4.mt-7

                    a(href="https://foroconsultivo.org.mx/innovacion_transformadora/docs/Entregable_3.pdf" target="_blank").media-link      
        
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                        .media-link-title
                            p #[strong Anexo 2]. #[br]Innovacion transformadora conceptos básicos marco de innovación.    


    .jumbotron.bg-white
      
        .header#tema1_5.-recuadro.mt-0.mb-0
            h3
                span.number 1.5 
                span Innovación transformativa 

        p <strong>Definición</strong>

        p El cambio transformativo no es un plan con una bola de cristal o plan detallado para lograrlo, las nuevas tecnologías pueden ayudar, pero los finales positivos no están garantizados. Por otra parte, los movimientos sociales pueden crear ideas   diferentes sobre el mundo (imaginarios) pero toman tiempo. 
        p Esto sugiere la necesidad de experimentos que pueden :

            ol 
                li Proveer banco de pruebas para nuevas tecnologías.
                li Crear experiencias para nuevas expectativas.
                li Facilitar aprendizaje con nuevas direcciones.

        p Estos experimentos pueden ocurrir con imaginación empresarial (tanto innovación social como de negocio). Las autoridades gubernamentales tienen una responsabilidad especial de nutrir e iniciar experimentos, ya que ellos son parte del proceso de construcción de nichos transformativos.
     
            section.card-border-bottom
    
                section.my-3.ml-4.mb-6

                    a(href="https://docs.google.com/presentation/d/1BlKWJy_1GsHWIJJcy1fDDbcXVJwvTmskon3Ov0Ob2oY/edit#slide=id.g8d629b9453_0_147" target="_blank").media-link      
        
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                        .media-link-title
                            p #[strong Anexo 4]. #[br]Innovacion Transformativa.

        p #[strong Características]

        p La Unidad de Investigación en Políticas para la Ciencia de la Universidad de Sussex, define en el documento sobre innovación transformadora conceptos básicos y marcos de innovación, una serie de características que debería presentar un proyecto para poder incorporarse a un proceso de innovación, las cuales se encuentran el cuadro siguiente:


            .row.justify-content-center.align-items-center
                .col
                     #collapsable
                        // Header
                                                       
                        #accordionExample.accordion
                            .card
                                #headingOne.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                            h2.mb-0.collapsable-title Direccionalidad
                                #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                                    .card-body
                                        | La tecnología no es neutral, puede traer consigo efectos positivos y negativos. Un proyecto de 
                                        | innovación transformadora debe destacar y orientarse conscientemente hacia la generación de un impacto 
                                        | positivo. Esto implica considerar una amplia gama de opciones tecnológicas y abordar los problemas sociales 
                                        | y ambientales que estas provocarían. 
                            .card
                                #headingTwo.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                            h2.mb-0.collapsable-title Objetivo Social
                                #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                                    .card-body
                                        | Un proyecto de innovación transformadora debe centrarse en los grandes desafíos sociales
                                        | de la humanidad, como los que se consideran en los Objetivos del Desarrollo Sostenible de
                                        | las Naciones Unidas, entre los que destacan la lucha contra la pobreza y el hambre, la
                                        | educación, el acceso al agua, a la energía, a servicios de salud, al trabajo y a vivir en
                                        | comunidades sostenibles, incluyentes e igualitarias. 
                            .card
                                #headingThree.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                            h2.mb-0.collapsable-title Impacto a nivel sistema
                                #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                                    .card-body
                                        | La iniciativa debe influir en cambios a nivel de sistema socio-técnicos. Es decir, impacta
                                        | simultáneamente sobre distintos niveles o aspectos del problema, por ejemplo, sobre la
                                        | educación, la infraestructura, la tecnología y el financiamiento. 

                            .card
                                #headingFour.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                                            h2.mb-0.collapsable-title Aprendizaje y reflexividad
                                #collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordionExample')
                                    .card-body
                                        | El proyecto debe permite un aprendizaje profundo, o de segundo orden. Es decir, debe poder
                                        | establecerse relación causal en el actuar de los agentes involucrados que pueda derivar en
                                        | esquemas replicables, buenas prácticas u oportunidades de política pública.

                            .card
                                #headingFive.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                                            h2.mb-0.collapsable-title Conflicto vs. Consenso

                                #collapseFive.collapse(aria-labelledby='headingFive', data-parent='#accordionExample')
                                    .card-body
                                        | El proyecto debe permite un aprendizaje profundo, o de segundo orden. Es decir, debe poder
                                        | establecerse relación causal en el actuar de los agentes involucrados que pueda derivar en
                                        | esquemas replicables, buenas prácticas u oportunidades de política pública.

                            .card
                                #headingSix.card-header
                                    h2.mb-0
                                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                                            h2.mb-0.collapsable-title Incluisividad

                                #collapseSix.collapse(aria-labelledby='headingSix', data-parent='#accordionExample')
                                    .card-body
                                        | El proyecto debe incluir diversos actores de la sociedad civil y/o usuarios finales. Este factor
                                        | incluyente va más allá de pretender integrar a poblaciones objetivo con una serie de
                                        | cnecesidades especiales, para que no estén al margen de la sociedad, sino que debe responder
                                        | a todos y cada uno de los actores que forman la sociedad, reconociendo que cada uno tiene
                                        | necesidades, procedencias y competencias diferentes que deben atenderse de manera
                                        | particular. 

                .col-12-col.mt-2
                    img(src="assets/images/pages/tema-1/img_06.svg", alt="").img-fluid

