include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h1 5. Entrada de información

    .jumbotron.bg-white.mb-0

        .row.align-items-center
            .col-auto
                img(src="assets/images/pages/tema-5/t5-icono.svg").img-fluid
            .col
                p Hasta el momento, en todos los ejercicios vistos se ha utilizado dentro de las líneas de código la declaración e inicialización de las variables que van a ser manipuladas; la entrada de información consiste en solicitar al usuario por pantalla que ingrese los datos deseados para el contenido de dichas variables; esta funcionalidad proporciona a las soluciones un interesante ingrediente de interactividad porque las operaciones o manipulación de información son realizadas internamente por el programa, pero es el usuario final quien define con qué datos o valores se debe trabajar.
                
        p.my-5 A continuación, se ejemplifica la entrada de datos por teclado de dos maneras; primero escribiendo el código directamente en el main e ingresando los datos por la consola de NetBeans  y luego creando un formulario que, al ser ejecutado, solicite la información en diferentes campos de texto.

        p Al realizar la ejecución del código visto en la siguiente figura, lo primero que se observa es el texto <b>Introduzca 2 números enteros:</b> con el cual el programa está solicitando al usuario que ingrese por teclado dichos valores; el usuario debe digitar cada uno seguido de la tecla <i>Enter</i> y posterior a ello, el sistema le devuelve el resultado, el cual para el caso ejemplificado es: <b>La suma de los 2 números es: 13</b>. 

        .jumbotron.brand-color-light.p-4.my-5
            p #[strong NOTA:] La línea 3 del ejemplo visto en la siguiente figura se utiliza para que Java permita leer los valores por parte del usuario.        
            
        p.text-center.my-5
            img(src="assets/images/pages/tema-5/nb-1.png").img-fluid

        p Para mostrar el ejemplo de ingreso de datos en un formulario, es necesario acceder a NetBeans y crear dicho formulario, arrastrando los controles requeridos para después efectuar la programación de los mismos.  

        p Con el fin de resolver el mismo ejercicio visto en la imagen anterior, pero utilizando el otro método, la interfaz del formulario sería la que se ilustra a continuación:
        
        p.text-center.my-5
            img(src="assets/images/pages/tema-5/nb-2.png").img-fluid


        p Una vez creada la interfaz, se da doble clic en el botón para programar las acciones que deben ser realizadas cuando el usuario haya digitado los números y oprima dicho botón.

        p Para escribir esas líneas de código, es importante que al crear la interfaz gráfica, se haya asignado a cada control un nombre reconocido; esto facilitará la escritura de los segmentos de código respectivos.

        p En el ejemplo, los nombres asignados fueron los siguientes:

        p.text-center.my-5
            img(src="assets/images/pages/tema-5/terminal-1.png").img-fluid

        p.my-5 El código que hay que escribir para generar la suma se observa a continuación:

        p.text-center.my-5
            img(src="assets/images/pages/tema-5/terminal-2.png").img-fluid

        p.my-5 Los pasos para la generación de dicho código son los siguientes:

        ul.bg-color-dark.my-5
            li 
                span Se declaran las variables que van a contener el resultado final y ambos números.

            li 
                span Se asigna a la variable <b>numero1</b> el contenido del campo de texto llamado <b>jTextValor1</b>; esto se realiza utilizando <b>Integer.ParseInt</b> dado que el contenido de dicho campo de texto es de tipo <b>texto</b> y la variable <b>numero1</b> fue declarada de tipo <b>int</b>, por lo tanto, es necesario hacer la conversión y de esto se encarga <b>Integer.ParseInt</b>. Posteriormente se usa <b>getText()</b> que permite obtener el valor de la caja de texto.
            li 
                span De la misma manera, se asigna a la variable <b>numero2</b> el contenido del campo de texto llamado <b>jTextValor2</b>.
            li 
                span Ahora se asigna a la variable <b>resultado</b> la suma de las variables <b>numero1</b> y <b>numero2</b>.
            li 
                span Finalmente se asigna al label <b>jLabelResultado</b> el valor de la variable resultado y esto se realiza a través de setText() que permite asignar un valor al label; adicionalmente se deben concatenar unas comillas para efectuar de nuevo la conversión, dado que la variable <b>resultado</b> tiene un dato tipo <b>int</b> y el label para mostrar la información maneja el dato de tipo texto.

        p.my-5 El formulario tras ser ejecutado en NetBeans con los valores 15 y 19, devuelve el resultado visto en la siguiente figura:

        p.text-center.my-5
            img(src="assets/images/pages/tema-5/nb-3.png").img-fluid        