include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h1 3. Operaciones básicas


    .jumbotron.bg-white

        .row.justify-content-center.align-items-center

            .col-12.col-md-6

                img(src="assets/images/pages/introduccion/introduccion.svg").img-fluid

            .col-12.col-md-6

                hr.line-100.bg-orange
                p.py-5 Es usual en la programación de aplicaciones la realización de cálculos matemáticos, los cuales se encuentran normalmente basados en las operaciones aritméticas básicas, y su complejidad depende de las diferentes expresiones creadas por el programador.
                hr.line-100.bg-orange


        .jumbotron.my-5
            p Para que las secuencias de programación sean correctas y devuelvan al usuario el resultado esperado, es necesaria la utilización de distintos operadores, y se debe prestar especial atención al orden en que se evalúan las diferentes operaciones mostradas. 