//Colores base del material de formación
$brand-color-dark: #002B38;
$text-color-dark: #fff;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #002B38;
$text-color-light: $primary;
$brand-color-secondary: #7CA7C9;

