//Colores base del material de formación
$brand-color-dark: #80C6D6;

//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: lighten(#80C6D6, 15%);


$brand-color-secondary: #E6E5E7;